--find-links https://download.pytorch.org/whl/cu121/torch_stable.html
torch==2.1.2+cu121
torchvision==0.16.2+cu121
ultralytics>=8.2.0
opencv-python>=4.8.0
numpy>=1.24.0
pytesseract==0.3.10
Pillow>=10.0.0
matplotlib>=3.8.0
scipy==1.11.3
PyYAML>=6.0
